* {
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

h1 {
  text-align: center;
  font-size: 3em;
  margin-bottom: 2em;
}

.buttonGroup {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

button {
  padding: 0.35em 1.2em;
  font-size: 2em;
  border: 0.1em solid #ffffff;
  margin: 1em;
  border-radius: 0.2em;
  text-decoration: none;
  font-weight: 400;
  color: #000000;
  background-color: white;
  text-align: center;
  transition: all 0.2s;
}
button:hover {
  color: #000000;
  background-color: #ffffff;
  border: 0.1em solid #000000;
}

button:disabled {
  color: lightgray;
  pointer-events: none;
}
